# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

**Objectives:**

* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. Scrapy.

Data Science Tools:
 
1. SAS
2. Apache Spark
3. BigML

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)

9

In [7]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)

24

In [8]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)

65449.84694978735

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

## Author:
Jasmeen Shaikh